JWT_SECRET=
DEFAULT_ADMIN_PASSWORD=
SALT_API_TOKEN=
SALT_API_USERNAME=
SALT_API_PASSWORD=
WAZUH_API_USERNAME=
WAZUH_API_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MATTERMOST_TOKEN=
SSH_TERMINAL_PRIVATE_KEY=